/* !-------- Basics --- */
html,body {
	background: #b3441b url(images/mars/mars-body-bg.png) center top repeat-x;
	color: #f2ead4;
	font-family: sans-serif;
	font-size: 14pt;
}

div {
}

a {
	color: #f2e48a;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-shadow: 0px 1px 7px #481604;
}

.page__header {
	width: 100%;
	display: flex;
	margin: 20px 0 30px 0;
	justify-content: space-between;
}
.page__header h2 {
	order: 2; /* Push this to the left, overriding orders in theme.css. */
}
.page__header h2 a {
	background: url(images/mars/banner.png) right bottom no-repeat;
	display: block;
	background-size: contain;
}

@media screen and (max-width: 900px) {
	.page__header h2 a {
		width: 100%;
		height: 100px;
		background-position: center;
	}
}
@media screen and (min-width: 901px) {
	.page__header h2 a {
		width: 700px;
		height: 174px;
	}
}

.page__header span {
	visibility: hidden;
}

.content__image {
	margin: 1rem;
}

/* !-------- Menu links --- */

.header__menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.header__menu a {
	display: block;
	padding: 0.25rem;
}

@media screen and (max-width: 900px) {
	.header__menu ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
	}
}
@media screen and (min-width: 901px) {
	.header__menu ul {
		display: flex;
		flex-direction: column;
	}
}
.header__menu li {
	list-style-type: none;
}


/* !-------- Navigation links --- */

.content__nav-1 {
	display: none;
}
.content__nav-2 {
	display: flex;
	justify-content: center;
}
.content__nav-2 a {
	padding: 1rem;
	display: block;
}
.random.navlink {
	display: none;
}

.first.navlink {
	background: url(images/mars/mars-first.png) center center no-repeat;
}
.first.navlink span {
	visibility: hidden;
}
.latest.navlink {
	background: url(images/mars/mars-latest.png) center center no-repeat;
}
.latest.navlink span {
	visibility: hidden;
}
.prev.navlink {
	background: url(images/mars/mars-prev.png) center center no-repeat;
}
.prev.navlink span {
	visibility: hidden;
}
.next.navlink {
	background: url(images/mars/mars-next.png) center center no-repeat;
}
.next.navlink span {
	visibility: hidden;
}


.publication-date {
	margin: 1rem 0 3rem 0;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}
.publication-date span {
	color: #E2B095;
}
.byline {
	color: #E2B095;
}

.page__comic article {
	text-align: center;
}
.page__comic h1 {
	visibility: hidden;
	font-size: 1px;
}


.page__secondary {
	margin-top: 5rem;
}

.secondary__blog {
	flex: 2;
	margin: 0 4rem;
}
.secondary__blog h3 {
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.secondary__blog p {
	line-height: 1.4rem;
	margin-bottom: 1rem;
}


/* !-------- Social and follow, small screen --- */

@media screen and (max-width: 900px) {
	.secondary__share {
		flex: 1;
		margin: 1rem 0;
		text-align: center;
	}
		.secondary__share div {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.secondary__share a {
			padding: 0.5rem;
			display: block;
		}

	.secondary__follow {
		flex: 1;
		text-align: center;
		margin: 1rem 0;
	}
		.secondary__follow div {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.secondary__follow a {
			padding: 0.5rem;
			display: block;
		}
}

/* !-------- Social and follow, widescreen --- */

@media screen and (min-width: 901px) {
	.secondary__share {
		flex: 1;
		margin: 1rem 0;
		text-align: center;
	}
	.secondary__share a {
		padding: 0.5rem;
		display: block;
	}

	.secondary__follow {
		flex: 1;
		text-align: center;
		margin: 1rem 0;
	}
	.secondary__follow a {
		padding: 0.5rem;
		display: block;
	}
}

div.share-icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
.social-icon {
	width: 30px;
	height: 30px;
}

/* Hide from sighted readers, but keep available for search engines and screen readers. */
.secondary__transcript {
	position: absolute;
	margin-left: -10000px;
}


footer {
	font-size: 0.75rem;
	padding: 2rem;
}
